body {
    margin: .5em;
    background-color: ivory;
}

.numBtn {
    background-color: lightgrey;
    color: black;
    width: 40px;
}

.numRow {
    margin-bottom: 3px;
}

#equals {
    width: 40px;
}

.result {
    margin-top: 6px;
}

.historyItem {
    font-size: 1.3em;
    cursor: pointer;
}