body {
    margin: 0;
    background-color: ivory;
}

header h1 {
    text-align: center;
    margin: .5em;
}

main {
    margin-left: 2em;
}

.calculatorArea {
    display: inline-block;
    border: 2px solid black;
    border-radius:15px;
    padding: 5px;
}

.numBtn {
    background-color: lightgrey;
    color: black;
    width: 40px;
}

.numRow {
    margin-bottom: 4px;
}

#equals {
    width: 40px;
}

.result {
    margin-top: 6px;
}

#historySection {
    display: grid;
    grid-template-rows: repeat(15, 30px);
    grid-template-columns: repeat(5, 20%);
    grid-auto-flow: column;
}

.historyItem {
    font-size: 1.3em;
    cursor: pointer;
}

#deleteHistory {
    width: 55%;
    height: 40px;
}